body 
{
    background-color: black;
    color: gray;
    font-family: Arial, sans-serif;
    overflow-y: auto; 
}
h1{
    font-size: 50px;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
section 
{
    color: white;
    border: 20px solid white;
    padding: 20px;
}
.task-list ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.task-list li 
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid white;
    margin: 20px;
}
.task-list li:hover { border: 5px white; }
h1
{
    color: lightgoldenrodyellow;
    text-align: center;                             
}
.task-info h4 
{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
}
.task-due-date, .task-assigne 
{
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}
.create-task input, .create-task select, .create-task textarea 
{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid white;
    width: 100%;
    background-color: gold;
}
.create-task textarea { height: 100px; }
.create-task input[type="submit"] 
{
    padding: 10px;
    background-color: black;
    color: gray;
    border: solid black;
    cursor: pointer;
}
.create-task input[type="submit"]:hover { background-color: pink; }
.comment-list { margin-top: 10px; }
.comment 
{
    font-size: 12px;
    color: white;
    font-size: 30px;
}
.completed-task-list { margin-top: 30px; }
.task-management { display: flex; }
.left-section,.right-section 
{
    flex: 1;
    padding: 20px;
    border: 5px solid white;
    margin-left: 5px;
}
.left-section { flex: 3; }
.chat-messages 
{
height: 400px; 
overflow-y: auto; 
background-color: gold;
margin-bottom: 15px;
padding: 15px; 
color: black;
}
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, skyblue 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, orange 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}